.info{
   
    background-color: #7BD1FA

    }
    .section2{
        background-color: #a0e1ff
    }
    .accordion-flush{
        margin-top: -300px;
    
        
    }
    .section3{
    
        background-color: #7BD1FA
    }
    
    .section4{
        background-color: #7BD1FA
    }
    .section5{
        background-color: #7BD1FA
    }
    .section6{
        background-color: #a0e1ff
    }
    
    .lizsom{
    
        margin-top: 10px;
    }
    
    .btn.btn-outline-success {
        border-color: #7BD1FA; 
        background-color: #a0e1ff
    }
    .accordion-accordion-flush{
    background-color: aqua;
    }
    .adamsom{
        margin-top: -250px;
    }
    .informacion{
        font-family: 'Dancing Script', cursive;
        
    }
    .comic{
        font-family: 'Dancing Script', cursive;
        
    }
    .personajes{
        font-family: 'Dancing Script', cursive;
        
    }
    .escenarios{
        font-family: 'Dancing Script', cursive;
        
    }
    .publico_objetivo{
        font-family: 'Dancing Script', cursive;
        
    }
    
